<%= form_for(beacon) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :uuid %>
    <%= f.text_field :uuid %>
  </div>

  <div class="field">
    <%= f.label :major_uuid %>
    <%= f.text_field :major_uuid %>
  </div>

  <div class="field">
    <%= f.label :minor_uuid %>
    <%= f.text_field :minor_uuid %>
  </div>

  <h3>Notifications</h3>
  <%= render 'notification_fields', f: f %>

  <%= link_to_add_fields 'Add Notification', f, :notifications %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>