<%= form_for(beacon) do |f| %>
  <% if beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :uuid %>
    <%= f.text_field :uuid %>
  </div>

  <div class="field">
    <%= f.label :major_uuid %>
    <%= f.text_field :major_uuid %>
  </div>

  <div class="field">
    <%= f.label :minor_uuid %>
    <%= f.text_field :minor_uuid %>
  </div>
  
  <%= f.fields_for :notifications do |notification_form| %>
    <div class="field">
      <%= notification_form.label :id, :notification %>
      <%= notification_form.collection_select(:id, @notifications, :id, :title, include_blank: true) %>
    </div>
    <% unless notification_form.object.new_record? %>
      <div>
        <%= notification_form.label :_destroy, 'Remove:' %>
        <%= notification_form.check_box :_destroy %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>