<p>
  <strong>Title:</strong>
  <%= @beacon.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beacon.description %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @beacon.uuid %>
</p>

<p>
  <strong>Major Uuid:</strong>
  <%= @beacon.major_uuid %>
</p>

<p>
  <strong>Minor Uuid:</strong>
  <%= @beacon.minor_uuid %>
</p>

<p>
  <strong> Notifications</strong>
</p>

<% @beacon.notifications.each_with_index do |notification, index| %>
<ul>
    <li><strong><%= (index + 1).to_s + ". " + notification.title  %></strong></li>
    <li>description: <%= notification.description %></li>
</ul>
<% end %>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>

