<%= form_for(historical_event), html: { multipart: true } do |f| %>
  <% if historical_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historical_event.errors.count, "error") %> prohibited this historical_event from being saved:</h2>

      <ul>
      <% historical_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
