<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <%= fields_for :credit do |builder| %>
    <%= render 'credits/credit_fields', f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
