<%= form_for(role) do |f| %>
<% if role.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

    <ul>
    <% role.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <div class="field">
    <%= f.label :id, :role %>
    <%= f.collection_select(:id, @roles, :id, :title, include_blank: true) %>
  </div>
  <% unless f.object.new_record? %>
    <div>
      <%= f.label :_destroy, 'Remove:' %>
      <%= f.check_box :_destroy %>
    </div>
  <% end %>
<% end %>
